.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(1, 31, 74, 0.4);
  transition: opacity 0.2s, visibility 0.2s;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 100%;
  max-width: 723px;
  height: 100%;
  max-height: 681px;
  padding: 42px 144px;
  background-color: var(--color-brand-dark);
  border-radius: 48px;
  /* overflow-y: auto; */
}

.modal-btn-close {
  position: absolute;
  top: 42px;
  right: 42px;
  padding: 0;
  border: none;
  height: 32px;
}
.icon {
  background-color: var(--color-brand-dark);
  background-size: cover;
}

.modal-title {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
  line-height: 1.15;
}

.modal-text {
  color: #ffffff;
  text-align: center;
  margin-bottom: 32px;
  line-height: 1.17;
}

.form-field {
  margin-bottom: 24px;
}

.form-label {
  display: block;
}

.form-button {
  display: block;
  margin: 0 auto 8px;
  padding: 16px 32px;
  width: 281px;
  height: 53px;
}

.form-button:hover {
  color: #2b7fff;
}
