.section {
  padding: 48px 0;

  &__title {
    color: var(--color-brand-dark);
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;

    @media screen and (min-width: $bp-tablet) {
      color: var(--color-brand-dark);
      font-family: 'Play', sans-serif;
      font-size: 64px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-centered {
      text-align: center;
    }
  }
}
