.whyme-section {
  position: relative;
  padding-top: 88px;

  &__grad {
    position: absolute;
    background-image: linear-gradient(
      180deg,
      rgba(43, 127, 255, 0.2) 32%,
      rgba(43, 127, 255, 0.04) 75.55%,
      rgba(43, 127, 255, 0) 78.55%
    );
    z-index: -2;
    left: -410px;
    top: -75px;

    @media screen and (min-width: $bp-tablet) {
      background-image: linear-gradient(
        180deg,
        rgba(43, 127, 255, 0.2) 39.74%,
        rgba(43, 127, 255, 0) 54.16%,
        rgba(43, 127, 255, 0) 66.61%
      );
      top: -130px;
      left: -108px;
    }
  }
  &__title {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 48px;
      width: 432px;
    }
  }

  &__list {
    color: black;
    font-size: 18px;
    line-height: 1.3;
    display: block;
    text-align: center;
    width: 316px;
    height: 181px;
    margin: 0 auto;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-items: center;

      justify-content: center;
      gap: 56px;
    }
  }

  &__item {
    padding: 24px 32px;
    border-radius: 32px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(168, 198, 245, 0.38);
    margin-bottom: 16px;
  }

  &__icon {
    fill: var(--color-brand-light);
  }
}
